* { box-sizing: border-box; }

body {
  margin: 0 auto;
  padding: 0;
}

main {
  width: 375px;
  margin: 12px auto;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding: 12px;
}

header {
  width: 375px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 12px;
  padding-right: 24px;
}

nav {
  width: 15px;
  height: 15px;
  align-self: center;
}

.logo {
  font-size: 18px;
  align-items: center;
  width: 76px;
  height: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  line-height: 20px;
  color: blue;
  text-decoration: none;
}

.container {
  padding-top: 70px;
  margin-top: 12px;
  width: 375px;
  height: auto;
  background-image: url(image/header-shapes\ mobile.png);
}

.one {
  width: 327px;
  height: 150px;
  left: 24px;
  margin-top: 114px;
  display: flex;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-family: serif;
  line-height: 52px;
  color: black;
  align-items: center;
}

.two {
  width: 327px;
  left: 24px;
  font-size: 16px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 30px;
  margin: 0 0;
}

.detail {
  margin: 12px 0;
}

.two a {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
  color: blue;
  margin: 10px 0;
}

.nest {
  width: 150px;
  justify-content: space-between;
  display: flex;
  padding-inline-start: 0%;
  list-style: none;
  align-items: baseline;
}

.two p {
  margin: 15px 0;
}

.cards {
  margin: 25px auto;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row;
  width: 100%;
  gap: 40px;
  justify-content: center;
}

.card {
  padding: 16px;
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 15px;
}

.card-heading {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 40px;
  color: black;
  font-size: 32px;
  font-weight: bold;
}

.card-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.detail-style1 {
  font-size: 15px;
  font-style: normal;
  font-family: sans-serif;
  color: #344563;
  line-height: 24px;
}

.tool1 {
  width: 220px;
  display: flex;
  padding-inline-start: 0%;
  list-style: none;
  justify-content: space-between;
}

.fint {
  color: rgb(170, 163, 163);
}

.tool1 li {
  font-size: 13px;
  margin: 0;
  line-height: 16px;
  font-weight: 600;
  font-family: sans-serif;
}

.tool2 {
  width: 200px;
  display: flex;
  padding-inline-start: 0%;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.tool2 li {
  background: rgb(230, 230, 252);
  border-radius: 3px;
  text-align: center;
  padding: 4px 12px;
}

.tool2 a {
  text-decoration: none;
  color: blue;
}

.detail-style2 {
  width: 124px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: blue;
  letter-spacing: 0.03em;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  padding: 15px;
  background: white;
  border-radius: 16px;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize; 
}

.about-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 30px;
}

h2 {
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 52px;
}

.info-link {
  text-decoration: none;
  color: blue;
}

.about-social {
  width: 150px;
  justify-content: space-between;
  display: flex;
  padding-inline-start: 0%;
  list-style: none;
  padding: 5px 0;

}

.myself > * {
  margin: 25px 0;
}


.about-detail {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-family: sans-serif;
  color: #344563;
}

.language-detail {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.my-resume {
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  color: blue;
  letter-spacing: 0.03em;
  border: 1px solid #dfe1e6;
  padding: 10px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  text-transform: capitalize;
}

.button a {
  text-decoration: none;
  color: blue;
}

.button:hover {
  box-shadow: 0 8px 16px rgb(175, 175, 236);
}

.button:active {
  background: white;
  transform: translateY(2px);
}

.lang {
  display: flex;
  justify-content: space-between;
}

.size {
  width: 20px;
  height: 20px;
}

.icons {
  display: flex;
  align-items: center;
  background-color: #f3f3f7;
  margin: 10px 0;
  border-radius: 8px;
  list-style: none;
  padding: 5px 0;
}

.icons > * {
  margin: 5px 5px 4px;
}

.word {
  font-size: 20px;
  align-items: center;
  font-weight: bold;
  line-height: 24px;
  color: #000;
  font-style: normal;
}

.word:hover {
  text-decoration: underline;
}

.icon {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  margin: 0;
}

.icon .space img {
  width: 48px;
}

.spac a {
  text-decoration: none;
  color: #000;
}
